/*
LABORATORY EXERCISE #4

Objective:
Edit this CSS file to design and style the different web pages.

Important:
You are NOT allowed to modify or change any of the HTML files.
All design and layout changes must be done using CSS only.

Guidelines:
1. Some elements do not have classes or IDs (for example, the list of steps in making coffee).
   To style these elements, use contextual selectors, element selectors,
   attribute selectors, or other appropriate CSS selector techniques.

2. Before writing your CSS, it is highly recommended to create a simple
   wireframe or layout plan. This will help you organize your design,
   improve consistency, and ensure that all members of your group
   are aligned and on the same page regarding the overall design.

3. You are not required to style every single class or ID.
   Your main goal is to create a website that is visually appealing,
   well-organized, and user-friendly.

Focus on applying proper CSS techniques such as:
- Typography
- Spacing (margin and padding)
- Layout
- Colors
- Alignment

*/


/* BACKGROUND */
body {
   background-color: #201B09;
}


/* NORMALIZATION OF TYPOGRAPHY */
h1, h2, h3 {
   color: #201B09;
}

/* removes the default color of the hyperlinks*/
a {
   color: inherit;
   text-decoration: none;
}


/* normalized consistent font color for paragraph texts, list items, and hyperlinks */
p, li , a{
   color: #F3E9DC;
}


/* when cursor is hovering over a hyperlink */
a:hover {
   color: #5E3023;
   text-decoration: underline;
}



header, footer {
   background-color: #865E38;
   width: 100%;   /* sets the width of the header and footer to fill the x-axis of the screen*/

   padding-left: 6rem;
   padding-right: 6rem;

   box-sizing: border-box;
}


/* HEADER ELEMENTS */
header {
   padding: 2rem 6rem;
   box-sizing: border-box;
   text-align: center;
}

#title {
   margin: 0 auto; /* extra assurance for centering*/
}

/* setting the hr (horizontal break) to match colors with the title*/
hr {
   border: 0;
   border-top: 1px solid #201B09;
}

/* SECTION SPACING */
.coffee {
   margin-left: 6rem;
   margin-right: 6rem;
   margin-bottom: 4rem;
   min-height: 80vh;
}


/* NAVBAR */
.navBar {
   border: solid white;
   padding: 10px;
   display: flex;
   justify-content: flex-end;
   gap: 10px;
}
